*.suo
/WebPage/wwwroot/data/Security.db
*.js.map
.vs/Personal/v17/Preview/*
*.js
Tests/bin/
Tests/obj/
Webpage/obj/
Webpage/node_modules/
packages/
Webpage/bin/
.vs/
Properties/PublishProfiles/*
Properties/ServiceDependencies/*
wwwroot/data/SQLite.db
/WebPage/wwwroot/data/SQLite.db
/leetCodeSolutions/bin
/leetCodeSolutions/obj
WebPage/obj/
WebPage/bin/
/SecretDrawer/bin/
/SecretDrawer/obj/
