.vs/
.vs/Personal/v17/Preview/*

*.suo
*.js.map
*.js

/Tests/bin/
/Tests/obj/

/WebPage/bin/
/Webpage/node_modules/
/Webpage/obj/

/WebPage/wwwroot/data/SQLite.db
/WebPage/wwwroot/data/Security.db
packages/

Properties/PublishProfiles/*
Properties/ServiceDependencies/*
wwwroot/data/SQLite.db

/leetCodeSolutions/bin
/leetCodeSolutions/obj

/SecretDrawer/bin/
/SecretDrawer/obj/
