*.suo
/WebPage/wwwroot/data/Security.db
*.js.map
.vs/Personal/v17/Preview/*
*.js
Tests/bin/
Tests/obj/
Webpage/obj/
packages/
Webpage/bin/
.vs/
wwwroot/scripts/*.js
wwwroot/styles/*.min.css
Properties/PublishProfiles/*
Properties/ServiceDependencies/*
wwwroot/data/SQLite.db
/WebPage/wwwroot/data/SQLite.db
/leetCodeSolutions/bin
/leetCodeSolutions/obj
