<div class="container my-2">
    <div >
        <h1>Portafolio</h1>
        <p class="lead">Ejemplos de codigo y proyectos utilizando tecnologías en las que he trabajado.</p>
    </div>
    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-md-4">
            <div class="m-1 p-4 bg-light border rounded-3">
                <h2>MVC WebAPI</h2>
                <p>Conozco bastante bien como compartir información de forma segura y de acuerdo a los estandares.</p>
                <a href="/Work/WebApiExample" class="btn btn-outline-secondary" type="button">Ejemplo</a>
            </div>
        </div>
         <div class="col-md-4">
            <div class="m-1 p-4 bg-info border rounded-3">
                <h2>SQLite</h2>
                <p>Guardado de datos en SQLite, Conforme vaya aprendiendo cosas, las pondré aqui</p>
                <a href="/Work/SQLite" class="btn btn-outline-secondary" type="button">Ejemplo</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-dark rounded-3">
                <h2>MS SQL Server</h2>
                <p>He desarrollado soluciones que requieren de bases normalizadas para almacenar y permitir la consulta de bases con millones de registros.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-info border rounded-3">
                <h2>WPF</h2>
                <p>Me encanta usar esta tecnología para crear interfaces <a class="link-dark" href="https://www.behance.net/gallery/4752143/Rol-de-Servicios">usables</a>; Tambien he creado apps para <a class="link-dark" href="https://github.com/jarmyo/WindowsPhoneStopWatch">Windows Phone</a>, ModernUI y Xamarin </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-danger rounded-3">
                <h2>Certificados</h2>
                <p>A veces es necesario <a class="link-light" href="https://repossoftware.wordpress.com/2017/09/28/certificados-auto-firmados-para-firma-de-aplicaciones-y-distribucion-con-clickonce/">firmar ensamblados</a> para su distribución en una intranet o en clientes controlados. Le muevo al Openssl y demas comas para el deployment</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-secondary border rounded-3">
                <h2>VoiceRecorder</h2>
                <p>Tengo Experiencia en interconección con <a class="link-light" href="http://tel-rec.tech/TelRecDoc/English/">VoiceRecorders</a> de <a href="http://www.voicelogger.net/">Yishi Electronics</a> </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-success border rounded-3">
                <h2>Biometricos</h2>
                <p>Cuando trabajé para el <a class="link-light" href="https://www.gob.mx/inm">Instituto Nacional de Migración</a>, la Entidad Federal Mexicana para el control migratorio nacional, fui el encargado de implementar la primer base de datos biometrica de la estación migratoria mas grande de latinoamerica en 2009 y el software que permitió dar atención de primer nivel y servicios de inteligencia a la institución; utilicé el SDK de <a class="link-light" href="https://www.neurotechnology.com/verifinger.html">Griaulle</a> con lectores CrossMatch; Tambien tengo experiencia con el SDK de Digital Persona</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 bg-warning border rounded-3">
                <h2>Javascript/Typescript</h2>
                <p>Soy bastante nuevo en esta tecnología, puedes revisar mi avance en <a class="link-dark" href="https://www.freecodecamp.org/fccdc754e81-1b3c-43ac-b223-dce2f274982a">freecodeCamp</a>; durante este tiempo he creado un servicio de <a class="link-dark" href="https://repos.mx/Menu/Index/burger">menú digital</a> para mis clientes de Repos</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-info border rounded-3">
                <h2>WindowsForms</h2>
                <p>Tengo un transfondo como programador en VB6 y las primeras versiones de Swing de Java, asi que tengo experiencia creando software sobre esta técnología.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-danger rounded-3">
                <h2>ReportViewer</h2>
                <p>En 2007 reemplacé a CrystalReports (que tambien puedo manejar con soltura). Tengo conocimiento avanzado de SSRS y ReportViewer sobre WinForms y host sobre WPF.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-secondary border rounded-3">
                <h2>CSS/LESS</h2>
                <p>Aunque mis sentido del diseño no es muy agudo, entiendo, comprendo y soy capaz de utilizar esta tecnología con soltura.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-dark rounded-3">
                <h2>Windows Server</h2>
                <p>Tengo conocimientos no certificados sobre administración y soporte de servidores Windows Server 2008 y 2012 R2.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-success border rounded-3">
                <h2>Old Shit</h2>
                <p>Comencé a programar de forma autodidacta cuando tenía 14 años. Asi que entre los lenguajes en que he programado mas de un par de lineas están QBasic sobre DOS 6.22, Borland Pascal, Borland C, DBase, Clipper, Prolog, Delphi, FoxPro, Microsft Visual Basic 5 y 6. Que hermosos recuerdos.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-danger rounded-3">
                <h2>Linux</h2>
                <p></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-secondary border rounded-3">
                <h2>Telematica</h2>
                <p></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-dark rounded-3">
                <h2>English</h2>
                <p></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-1 p-4 text-white bg-success border rounded-3">
                <h2>Cracking</h2>
                <p>Tengo experiencia decompilando y analizando software propietario. Soy whiteHat, siempre trato de avisar sobre vulnerabilidades.</p>
            </div>
        </div>
    </div>
</div>
@section HeadScripts
{
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
}