@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section Head
{
    @await Html.PartialAsync("_NavigationPartial", new HeaderModel {Title = Localizer["Title"], Active = "Work"})
}
<div class="container my-2">
    <h2>Projects</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Restautants software</h2>
                    <ul class="d-flex list-unstyled mt-auto">                        
                         <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                            <small>Full</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                            <small>3d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Biometric population control for Goverment facilities</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                            <small>Pakistan</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                            <small>4d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                            <small>California</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                            <small>5d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2>Samples</h2>    
    <div>
        <p class="lead">Code examples and using technologies I've worked on or I am learning.</p>
        <p class="lead">This place is under construction, because i'm always learning'.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">MVC WebAPI</h5>
                    <p class="card-text">Backend fundamentals on ASP .NET</p>
                    <p>
                        <a href="/Work/WebApiExample" class="btn btn-sm btn-primary">Click to Example</a>
                        <a href="https://github.com/jarmyo/jarmyo/blob/main/WebPage/Controllers/Work/WebApiExample.cs" class="btn btn-sm btn-info">Github source</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-1 text-white bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Javascript</h5>
                    <p class="card-text">Ritch user interfaces</p>
                    <p>
                        <button onclick="demoFunction()" class="btn btn-sm btn-danger" type="button">Click Me</button>
                        <a href="https://github.com/jarmyo/jarmyo/blob/main/WebPage/wwwroot/scripts/WorkFrontEnd.ts" class="btn btn-sm btn-info">Github source</a>
                        <a class="link-info" href="https://www.freecodecamp.org/fccdc754e81-1b3c-43ac-b223-dce2f274982a">freecodeCamp</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-1 text-white bg-info">
                <div class="card-body">
                    <h5 class="card-title">SQLite</h5>
                    <p class="card-text">A simple form to store data on SQL Lite engine.</p>
                    <a href="/Work/SQLite" class="btn btn-sm btn-primary" type="button">Web Form</a>
                    <a href="https://github.com/jarmyo/jarmyo/blob/main/WebPage/Controllers/Work/SQLiteExample.cs" class="btn btn-sm btn-danger">Github source</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-1 text-white bg-success">
                <div class="card-body">
                    <h5 class="card-title">WPF</h5>
                    <p class="card-text">
                        <a class="link-dark" href="https://www.behance.net/gallery/4752143/Rol-de-Servicios">for desktop</a>;
                        and also for <a class="link-dark" href="https://github.com/jarmyo/WindowsPhoneStopWatch">Windows Phone</a>, ModernUI y Xamarin
                    </p>
                    <a href="/Work/WPFAPP" class="btn btn-sm btn-primary" type="button">Donwload APP Example</a>
                    <a href="https://github.com/jarmyo/jarmyo/blob/main/WebPage/Controllers/Work/WPF.xaml" class="btn btn-sm btn-info">Github source</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-1 text-white bg-danger">
                <div class="card-body">
                    <h5 class="card-title">MS SQL Server</h5>
                    <p class="card-text">A video of me explaining all concepts I know.</p>
                    <a href="/Work/SQLServer" class="btn btn-sm btn-primary" type="button">Web Form</a>
                    <a href="https://github.com/jarmyo/jarmyo/blob/main/WebPage/Controllers/Work/SQLSever.mdf" class="btn btn-sm btn-info">Github source</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-1 text-white bg-warning">
                <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text">Me encanta usar esta tecnología para crear interfaces <a class="link-dark" href="https://www.behance.net/gallery/4752143/Rol-de-Servicios">usables</a>; Tambien he creado apps para <a class="link-dark" href="https://github.com/jarmyo/WindowsPhoneStopWatch">Windows Phone</a>, ModernUI y Xamarin </p>
                    <a href="/Work/SQLite" class="btn btn-sm btn-primary" type="button">CSS Transformation</a>
                    <a href="https://github.com/jarmyo/jarmyo/blob/main/WebPage/wwwroot/styles.Site.css" class="btn btn-sm btn-info">Github source</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">Azure Cosmos DB</h5>
                    <p class="card-text">Store and retrieve Data in noSQL Azure service</p>
                    <p>
                        <a href="/Work/WebApiExample" class="btn btn-sm btn-primary">Click to Example</a>
                        <a href="https://github.com/jarmyo/jarmyo/blob/main/WebPage/Controllers/Work/WebApiExample.cs" class="btn btn-sm btn-info">Github source</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h1>@Localizer["Utils"]</h1>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="javascriptModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>All the magic is in the console!</p>
                <div id="containerGrid"></div>
                <div id="secondcontainerGrid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Great</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script src="/scripts/WorkFrontEnd.js"></script>
<script src="/scripts/WorkCommon.js"></script>
}