<div class="container my-2">
    <div>
        <h1>@ViewBag.Titulo</h1>
        <p class="lead">Repositorio de codigo, links, utilerias.</p>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                <h2 class="border-bottom p-3 ">C#</h2>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Base64 Encode/Decode</strong>
                            <small>security</small>
                        </div>                        
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">REST API Call</strong>
                            <small class="text-muted">Tues</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Run CMD</strong>
                            <small class="text-muted">data</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                <h2 class="border-bottom p-3">Scripting</h2>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Tamaño de tablas en una base</strong>
                            <small class="text-muted">SQL</small>
                        </div>
                        <div class="col mb-1 small ">
                            <code class="font-monospace" id="sql1" onclick="copymeInput('sql1c')">
                                SELECT t.NAME AS TableName, s.Name AS SchemaName, p.rows, CAST(ROUND(((SUM(a.total_pages) * 8) ...                                
                            </code>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Reiniciar identity</strong>
                            <small class="text-muted">SQL</small>
                        </div>
                        <div class="col mb-1 small">
                            <code class="font-monospace" id="sql2" onclick="copyme('sql2')">
                            DBCC CHECKIDENT ('product', RESEED, 0);
                            </code></div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Fetching</strong>
                            <small class="text-muted">Javascript</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                <h2 class="border-bottom p-3">Misc</h2>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small>Wed</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Tues</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Mon</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="sql1c" value="SELECT t.NAME AS TableName, s.Name AS SchemaName, p.rows, CAST(ROUND(((SUM(a.total_pages) * 8) / 1024.00), 2) AS NUMERIC(36, 2)) AS TotalSpaceMB, CAST(ROUND(((SUM(a.used_pages) * 8) / 1024.00), 2) AS NUMERIC(36, 2)) AS UsedSpaceMB, CAST(ROUND(((SUM(a.total_pages) - SUM(a.used_pages)) * 8) / 1024.00, 2) AS NUMERIC(36, 2)) AS UnusedSpaceMB FROM sys.tables t INNER JOIN sys.indexes i ON t.OBJECT_ID = i.object_id INNER JOIN sys.partitions p ON i.object_id = p.OBJECT_ID AND i.index_id = p.index_id INNER JOIN sys.allocation_units a ON p.partition_id = a.container_id LEFT OUTER JOIN sys.schemas s ON t.schema_id = s.schema_id WHERE t.NAME NOT LIKE 'dt%' AND t.is_ms_shipped = 0 AND i.OBJECT_ID > 255 GROUP BY t.Name, s.Name, p.Rows ORDER BY TotalSpaceMB DESC, t.Name">

@section Scripts
{
<script src="/scripts/WorkSnippets.js"></script>
}