@model Personal.Models.SQLiteModel
<div class="container my-2">
    <div class="row">
        <div class="col">
            <h1>Base de Datos SQLite en ASP.NET Core</h1>
            <p>Este servidor aloja un archivo de SQLite para probar el guardado de datos persistente.</p>
            <div class="form">
                <div class="row">
                    <div class="mb-3">
                        <label for="CampoNombre" class="form-label">Nombre</label>
                        <input class="form-control" type="Text" id="CampoNombre" maxlength="50" />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="button" onclick="AgregarVisitante()">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>Ultimos 50 Visitantes</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody id="ListaVisitantes">
                    @foreach (var visitante in Model.Visitantes)
                    {
                        <tr>
                            <td>@visitante.Id</td>
                            <td>@visitante.Fecha</td>
                            <td>@visitante.Nombre</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
<script src="/scripts/WorkSQLite.js"></script>
<script src="/scripts/WorkCommon.js"></script>
}