@inject BlogContext BlogCTX
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h4>Tags</h4>
            <hr />
            <table class="table table-sm" >
                <tbody id="TagTable">
                @foreach (var tag in BlogCTX.Etiquetas)
                {
                    <tr id="tagrow-@tag.Name">
                        <td>
                            @tag.Name
                        </td>
                        <td>
                           <a href="">@BlogCTX.EtiquetasEntradas.Count(e=>e.Tag == tag.Name) Post</a>
                        </td>
                        <td>
                            <button type="button" onclick="renameTag('@tag.Name')" class="btn btn-sm btn-success">Editar</button>
                            <button type="button" onclick="removeTag('@tag.Name')" class="btn btn-sm btn-danger">Eliminar</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>
@section Scripts
{
    <script src="/js/Blog.js"></script>
}