<a href="https://github.com/jarmyo/jarmyo" target="_blank" id="fork-corner" class="fork-corner fc-pos-tr fc-animate fc-theme-github fc-size-small"></a>
<div class="container my-5">
    <div class="row p-2 pb-0 pe-lg-0 pt-lg-0 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">JULIAN AUGUSTO RUIZ MARTINEZ</h1>
            <p class="lead">Hello, welcome to my personal page, I am a software developer specialized in .NET technologies and Microsoft ecosystems, I have more than 10 years creating software. I love learning and building new things.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="/Work" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Work Playgroud</a>
                <a href="/Blog" class="btn btn-secondary btn-lg px-4 me-md-2 fw-bold">Blog</a>
                <a href="https://www.linkedin.com/in/shinjistudio/" class="btn btn-outline-success btn-lg px-4">CV</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 position-relative overflow-hidden shadow-lg">
            <div class="position-lg-absolute top-0 left-0 overflow-hidden">
                <img class="d-block rounded-lg-3" src="/assets/index.png" alt="julian's picture'" width="720">
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row g-5">
        <div class="col-md-6">
            <h2>Actividades actuales</h2>
            <p>Pues no hago mucho, pero lo que hago, lo hago con pasión.</p>
            <ul class="icon-list">
                <li>Desarrollo sistemas de seguridad para el <a href="https://www.aguascalientes.gob.mx/ssp/">Estado de Aguascalientes</a></li>
                <li>Soy el responsable del desarrollo tecnologico de <a href="https://repos.mx">Repos Software</a></li>
                <li><a href="https://www.freecodecamp.org/fccdc754e81-1b3c-43ac-b223-dce2f274982a">Aprendo sobre web development</a></li>
                <li><a href="https://github.com/jarmyo/">codifico software por amor al arte</a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Contacto</h2>
            <p>Suelo inscribirme en cualquier nuevo proyecto o red social que encuentro por internet.</p>
            <ul class="icon-list">
                <li><a href="https://www.facebook.com/shinjistudio/">Facebook</a></li>
                <li><a href="https://twitter.com/BShinji">Twitter</a></li>
                <li><a href="https://www.youtube.com/channel/UC3bChlMRaPeKnqhGD9QF1-w">Youtube</a></li>
                <li><a href="https://www.instagram.com/juliangramer/">Instagram</a></li>
                <li><a href="https://www.tiktok.com/@Html.Raw("@bshinji")">TikTok</a></li>
                <li><a href="https://es.duolingo.com/profile/jarmyo">Duolingo</a></li>
                <li><a href="https://es.bookmate.com/@Html.Raw("@jarmyo")">Bookmate</a></li>
                <li><a href="https://letterboxd.com/jarmyo/">Letterboxd</a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <h2>Otras cosas</h2>
            <p>Con el 10% libre de tiempo que me queda, intento no quedarme dormido</p>
            <ul class="icon-list">
                <li>A veces escribo <a href="https://shinjistudio.blogspot.com/search/label/Poetico">poesia</a> y <a href="https://shinjistudio.blogspot.com/search/label/Filosofico">prosa</a> en mi blog personal desde el 2006</li>
                <li>Me gusta tocar un poco la <a href="https://www.instagram.com/p/CF07YvKhl4r/">Guitarra</a></li>
                <li>Hace tiempo deje de escribir <a href="/assets/mas.mp3">musica que a nadie le gusta</a> pero no pierdo la esperanza de seguir <a href="/assets/zapato.mp3">escribiendola</a> </li>
            </ul>
        </div>
    </div>
</div>
@section Styles
{
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-corner/dist/fork-corner.min.css">
}
@section HeadScripts
{
<script src="https://cdn.jsdelivr.net/npm/fork-corner/dist/fork-corner.min.js" defer></script>
}