@model Personal.Models.School.SchoolAdminModel
@section Head
    {
    <header>
    </header>
}
<hr />
<div class="row">
    <h2>Admin your catalogs</h2>
    <hr />
    <div class="col">
        <h3>Clients</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th colspan="2">...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model.Clients)
                {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Name</td>
                    <td>@client.Phone</td>
                    <td><a class="btn btn-sm btn-info" href="">Edit</a></td>
                    <td><a href="">Delete</a></td>
                </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-primary">New</button>
    </div>
    <div class="col">
        <h3>Services</h3>
    </div>
    <div class="col">
        <h3>Appointments</h3>
    </div>
</div>