@model Personal.Models.School.SchoolAdminModel
@section Head
    {
    <header>
    </header>
}
<hr />
<div class="row">
    <h2>Admin your catalogs</h2>
    <hr />
    <div class="col">
        <h3>Clients</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th colspan="2">...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model.Clients)
                {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Name</td>
                    <td>@client.Phone</td>
                    <td><a class="btn btn-sm btn-info" href="">Edit</a></td>
                    <td><a href="">Delete</a></td>
                </tr>
                }
            </tbody>
        </table>
        <hr />
        <form id="clientForm">
        <input type="text" id="Name" name="Name" placeholder="Name" />
        <input type="tel" id="Phone" name="Phone" placeholder="Phone Number" />
        <button type="button" class="btn btn-primary" onclick="CreateNewClient()">Create New</button>
        </form>
    </div>
    <div class="col">
        <h3>Services</h3>
    </div>
    <div class="col">
        <h3>Appointments</h3>
    </div>
</div>
@section Scripts
{
    <script>
        //Here we fecth via API the appointments data
        //get data from the form
        //post data to api
        //retrieve the result.
        //get the updated list with fetch.
    </script>
}