@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section Head
{
    @await Html.PartialAsync("_NavigationPartial", new HeaderModel {Title = Localizer["Title"], Active = "CV"})
}
<div class="container my-5">
    <div>
        <p class="lead">Work Experience.</p>        
    </div>
    <hr />    
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">.NET Developer</h3>
            <div class="subheading mb-3">Dextra technologies a Deloitte Business</div>
            <p>Backend maintenance and development of https://education.ti.com Texas Instruments sitecore-CMS.</p>
            <p><strong>Stack:</strong>
            <span class="badge bg-primary">.NET</span>
            <span class="badge bg-primary">ASP.NET</span>
            <span class="badge bg-primary">C#</span>            
            <span class="badge bg-success">SQL Server</span>            
            <span class="badge bg-warning text-dark">TypeScript</span>
            <span class="badge bg-warning text-dark">CSS</span>
            <span class="badge bg-warning text-dark">jQuery</span>            
            <span class="badge bg-warning text-dark">npm</span>            
            <span class="badge bg-warning text-dark">gulp</span>            
            <span class="badge bg-info text-dark">Sitecore</span>
            <span class="badge bg-info text-dark">Solr</span>
            
            <span class="badge bg-light text-dark"></span>
            <span class="badge bg-secondary">npm</span>
            <span class="badge bg-secondary">gulp</span>

            <span class="badge bg-danger">Danger</span>            
            <span class="badge bg-light text-dark">Light</span>
            <span class="badge bg-dark">Dark</span>    
            </p>            
        </div>
        <div class="flex-shrink-0"><span class="text-primary">September 2021 - Present</span></div>
    </div>        
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Product Owner - Main Developer</h3>
            <div class="subheading mb-3">Secretaría de Seguridad Pública Estado</div>
            <p>Design, Development and implementation of software for biometric control of Aguascalientes jails and internal control software of the Public Security Bureau of the State.</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">November 2019 - Present</span></div>
    </div>        
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Co-founder, Fullstack</h3>
            <div class="subheading mb-3">Repos Software</div>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
    </div>        
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">Informatics Department Head</h3>
            <div class="subheading mb-3">Instituto Nacional de Migración</div>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">August 2009 - March 2019</span></div>
    </div>
</div>